<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>
<h3>Products</h3>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id = "products">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}" >
        <td th:text="${rowStat.count}"></td>
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td th:text="${row.getQuantity()}"></td>
        <td><a th:href="@{/products/{id}/update(id=${row.getId()})}">Edit</a></td>
        <td><a th:href="@{/products/{id}/delete(id=${row.getId()})}">Delete</a></td>
        <td><a th:href="@{/products/{id}/view(id=${row.getId()})}">View</a></td>
    </tr>
    </tbody>
</table>
<p>
    <a th:href="@{/products/create}">Add New Product</a>
</p>

<form th:action="@{/products/find}" >
    <input type="text" name="name" >
    <button type="submit"> Find</button>
</form>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>